<div class="container">
    <div class="cards-content col-6" >
        <div class="row">
            <ul>
                <li ng-repeat="movie in movies | filter : search  | orderBy: order ">
                    <div class="card col-12">
                        <div class="col-4">
                            <img ng-src="{{movie.Poster}}" ng-show="movie.Poster">
                        </div>
                        <div class="col-8 card-info">
                            <div class="card-f col-12">
                                <h3>{{movie.Title}}</h3>
                                <hr />
                            </div>
                            <div class="card-e">
                                <div class="released"><b>Year: </b>{{movie.Year}}</div>
                            </div>
                            <div class="card-d">

                            </div>
                            <a class="btn btn-imdb" ng-click="ShowDetails(movie)" ng-href="">Show Details</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


